<%= form_with(model: @user) do |form| %>


  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :email %>
    <%= form.email_field :email, size: 30, required: true %>
  </div>

  <div class="field">
    <%= form.label :password %>
    <%= form.password_field :password, size: 30, required: true %>
  </div>
  <div class="field">
    <%= form.label :password_confirmation %>
    <%= form.password_field :password_confirmation, size: 30, required: true %>
  </div>

  <div class="field">
    <%= form.label :nid %>
    <%= form.text_field :nid %>
  </div>

  <div class="field">
    <%= form.label :position %>
    <%= form.text_field :position %>
  </div>

  <div class="field">
    <%= form.label :company_name %>
    <%= form.text_field :company_name %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
