<h1>Listing clients</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Location</th>
    <th>Request by</th>
    <th>Notes</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @clients.each do |client| %>
  <tr>
    <td><%= client.name %></td>
    <td><%= client.location %></td>
    <td><%= client.request_by %></td>
    <td><%= client.notes %></td>
    <td><%= link_to 'Show', [client.consultant, client] %></td>
    <td><%= link_to 'Edit', edit_consultant_client_path(client.consultant, client) %></td>
    <td><%= link_to 'Destroy', [client.consultant, client], method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<#%= link_to 'New Client', new_consultant_client_path(params[:consultant_id]) %>

<%= link_to 'Add new Client', new_consultant_client_path(params[:consultant_id]),  {:remote => true, 'data-toggle' =>  "modal", 'data-target' => '#modal-window', class: 'btn btn-primary btn-lg'}  %>
<div id="modal-window" class="modal hide fade" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content"></div>
  </div>
</div>
